:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: lightgray;
}

body {
    user-select: none;
    margin: 3mm;
    padding: 0;
}

#app {
    margin: 0 auto;
    max-width: 16cm;
}

label {
    background: #bbb;
    padding: 1mm 0;
}

th {
    font-weight: normal;
}
td {
    font-weight: bold;
}
table.border, .border th, .border td {
    border: 1px solid black;
    border-collapse: collapse;
}
.compact td, .compact th {
    padding: 0 2px;
}

.vertical th {
    text-align: left;
}

.vertical td {
    text-align: center;
}
.crt td {
    text-align: center;
}

.crt th {
    background-color: #aaa;
}

.compact {
    font-size: 70%;
}

table.crt tr:nth-child(odd) {
    background-color: #9fbacd;
}

table.rat th {
    text-align: left;
}